body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 0;
    background: #f2f2f2;
}

header{
    background: #000080;
    color: #FEE801;
    text-align: center;
    min-height: 60px;
    text-transform: uppercase;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
}

header .container-fluid {
    font-size: 190%;
}

/*SIDEBAR*/

aside{
    background: #FEE801;
    color: #000080;
    border: 3px solid #000080;
    border-radius: 25px;
    margin-bottom: 10px;
}

aside h2{
    text-align: center;
}
aside p{
    margin: 10px;
}

aside ul {
    text-align: left;
}

/*MAIN*/

section#main {
    width: 100%;
    }
    
.container-fluid {
    margin-bottom: 10px;
}

section#main .container-fluid img{
    width: 280px;
    border-radius: 25px;
}

section#main .container-fluid{
   text-align: center;
}


section#main .container-fluid input[type="text"]{
    padding: 4px;
    height: 30px;
    width: 270px;
    border-radius: 25px;
    font-weight: bold;
}

.main-col {
    background: #FEE801;
    color: #000080;
    border: 3px solid #000080;
    border-radius: 25px;
    margin-bottom: 10px;
}

/*BUTTONS*/

.button_1 {
    height: 30px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000080;
    color: #FEE801;
    border-radius: 25px;
    font-weight: bold;
}

.button_2 {
    height: 30px;
    width:270px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000080;
    color: #FEE801;
    border-radius: 25px;
    font-weight: bold;
}

/*FOOTER*/

footer#social {
    background: #000080;
    color: #FEE801;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-top: 10px;
    clear:both;
}

footer#social .sociallinks a{
    color: #FEE801;
    padding-left: 25px;
    padding-right: 25px;
    
}

/*FLIP CARD*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  
  background-color: transparent;
  width: 280px;
  height: 450px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  /*MEDIA QUERIES*/
  
 @media(min-width: 1670px){
    body{
    margin-left: 200px;
    margin-right: 200px;
     }
 }     
 
 @media(min-width: 1024px){ 
    aside{
    float: left;
    width: 28%;
    padding-right: 20px;
    min-height: 585px;
    }
 }
 
 @media(min-width: 1024px){ 
    .main-col{
    float: right;
    width: 68%;
    }
}