html {
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 0;
    background: #f2f2f2;
}

header{
    background: #000080;
    color: #FEE801;
    text-align: center;
    min-height: 60px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 25px;
    margin: 15px;
    border: 3px solid #FEE801;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    margin-top: 8px;
    text-align: center;
}

.container-fluid {
    margin-bottom: 10px;
    text-align: center;
}

.main-col {
    background: #FEE801;
    color: #000080;
    border: 3px solid #000080;
    border-radius: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    height: 100%;
}

#main {
    width: 100%;
    }

/*IMAGES*/
/*Put some margin underneath the image*/
.flip-card {
    margin-bottom: 10px;
    }

/*Sets the standard width of the image shown*/
section#main .container-fluid img{
    width: 250px;
    border-radius: 25px;
}

/*When an answer is wrong, blur the image*/
.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

/*Styling the field in which the player types in the answer*/
#textField {
    padding: 4px;
    height: 30px;
    border-radius: 25px;
    font-weight: bold;
}

/*Styling the comment on the answer of the player*/
#comment {
    font-size: 1.5rem;
    text-shadow: 1px 1px 6px #fff;
}

/*SIDEBAR*/
/*The sidebar has the same yellow colour als the main-col and the same darkblue text.*/
aside{
    background: #FEE801;
    color: #000080;
    border: 3px solid #000080;
    border-radius: 25px;
    margin-bottom: 10px;
    height: 100%;
    }

/*Aligns the text in the unorderd list in the aside to the left.*/
aside ul {
    text-align: left;
}

/*SCORBOARD*/

/*Styling the way the scoreboard is shown during the game*/
#scoreboardSp {
    float: left;
}

.scoreboardClass {
    color: #FD5F00;
    text-align: center;
    width: 60px; 
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px black;
}

/*Styling the way the final score is shown on the endscreen*/
#yourScore {
    float: right;
    vertical-align: middle;
    height: 200px;
    line-height: 180px;
    font-size: 1.7rem;
}

.endScoreClass {
    color: #FD5F00;
    text-align: center;
    width: 125px;
    height: 125px; 
    font-size: 6rem;
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px black;
}

/*Styling the comment on the final score on the endscreen*/
#scoreComment {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: #FD5F00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*ROUNDCOUNTER*/
/*Styling the counter of the rounds during the game*/
#count {
    float: right;
}

#round {
    color: #FD5F00;
    text-align: center;
    width: 60px; 
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px black;
}

/*BUTTONS*/

/*All button are styled using this class*/
.button_1 {
    height: 30px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #000080;
    color: #FEE801;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 3px 3px black;
}

/*Styling the button that makes it possible to ask for a hint*/
#buttonHint {
    color: #FEE801;
    background: #FD5F00;
    margin-left: 10px;
    margin-right: 10px;
}

/*Styling the button that makes the player continue in the game*/
#buttonSubmit {
    margin-left: 8px;
}

/*Styling the button to restart the game*/
#buttonReset {
    margin-top: 20px;
    width: 300px;
}

/*Used to hide the buttuns that are not needed at that point*/
.hidden {
    display: none!important;
} 

/*FOOTER*/

/*Styling the footer*/
#social {
    background: #000080;
    color: #FEE801;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-top: 10px;
    clear:both;
    margin: 15px;
    border: 3px solid #FEE801;
}

/*Styling the links/symbols in the footer*/
.sociallinks a{
    color: #FEE801;
    padding-left: 25px;
    padding-right: 25px;  
}
  
/*MEDIA QUERIES*/

/*Puts aside on the right site of bigger screens, instead of below like on smaller screens*/ 
 @media(min-width: 992px){ 
aside {
    float: right;
    width: 100%;
    padding-right: 20px;
    min-height: 570px;
    }
}

/*Keeps the main-col on the left on bigger screens*/
 @media(min-width: 992px){ 
.main-col {
    float: left;
    width: 100%;
    }
}

/*Prevents the button that links to the explanation of the game from showing on bigger screens, 
because the explanation is next to the gamescreen on bigger screens.*/
@media(min-width: 992px){ 
#buttonHowToPlayTheGame {
    display: none;
}}

/*Prevents the button that links to the top of the game from showing on bigger screens, 
because the explanation is next to the gamescreen on bigger screens.*/
@media(min-width: 992px){ 
    #buttonGoBackUp {
        display: none;
    }
}

/*Shows a bigger image on bigger screens*/
@media(min-width: 992px){ 
section#main .container-fluid img {
    width: 300px;
    }
}    

/*Shows a even bigger image on even bigger screens*/
@media(min-width: 1200px){ 
section#main .container-fluid img {
    width: 330px;
    }
}  

/*Shows a bigger 'Who is this Cyclist?' on bigger screens*/
@media(min-width: 1200px){
#headerQuestion {
    font-size: 2.5rem;
    }
}

/*Shows bigger buttons on bigger screens*/
@media(min-width: 1200px){
.button_1 {
    font-size: 1.2rem;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

/*Makes the text in the header (Pro Cycling Trumps Game) bigger on bigger screens*/
@media(min-width: 992px){
.h1 {
    font-size: 3rem;
    }
}

/*Gives some more margin around the image on bigger screens*/
@media(min-width: 992px){
.flip-card {
    margin-bottom: 25px;
    margin-top: 15px;
    }
}

@media(min-width: 992px){
#textField {
    margin-bottom: 10px;  
    height: 40px;
    font-size: 1.2rem;
    }
}

/*Prevents the gamescreen from becoming too wide*/  
 @media(min-width: 1500px){
body {
    margin-left: 200px;
    margin-right: 200px;
    }
}  