.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.hidden {
    display: none!important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #000080;
    color: #FEE801;
    text-align: center;
    min-height: 60px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 1px;

    border-radius: 25px;
    margin: 15px;
    border: 3px solid #FEE801;
}

h1 {
    font-size: 2.4rem;
}

/*SIDEBAR*/

aside {
    background: #FEE801;
    color: #000080;
    border: 3px solid #000080;
    border-radius: 25px;
    margin-bottom: 10px;
}

aside h2 {
    text-align: center;
}

aside p {
    margin: 10px;
}

aside ul {
    text-align: left;
}

/*MAIN*/

section#main {
    width: 100%;
}

.container-fluid {
    margin-bottom: 10px;
}

section#main .container-fluid img {
    width: 250px;
    border-radius: 25px;
}

section#main .container-fluid {
    text-align: center;
}

#comment {
    font-size: 1.5rem;
    text-shadow: 1px 1px 6px #fff;
}

#textField {
    padding: 4px;
    height: 30px;
    /*width: 270px;*/
    border-radius: 25px;
    font-weight: bold;
}

.main-col {
    background: #FEE801;
    color: #000080;
    border: 3px solid #000080;
    border-radius: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/*SCORBORD*/

#scorebord {
    color: green;
    text-align: center;
    width: 60px;
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px black;
}

#round {
    color: green;
    text-align: center;
    width: 60px;
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px black;
}

/*BUTTONS*/

.button_1 {
    height: 30px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #000080;
    color: #FEE801;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 3px 3px black;
}

.button_2 {
    height: 30px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: #000080;
    color: #FEE801;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 3px 3px black;
}


#buttonHint {
    color: #FEE801;
    background: #52985C;
    margin-left: 10px;
    margin-right: 10px;
}

#buttonNewImage {
    margin-left: 8px;
    margin-right: 0;
}

#startScreen {
    text-align: center;
    margin: 0;
}


/*FOOTER*/

footer#social {
    background: #000080;
    color: #FEE801;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-top: 10px;
    clear: both;
}

footer#social .sociallinks a {
    color: #FEE801;
    padding-left: 25px;
    padding-right: 25px;

}



/*New card slowly appears*/

.fade-in {
    animation: fade-in 1s ease;
    visibility: visible;
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/*MEDIA QUERIES*/

@media(min-width: 1670px) {
    body {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media(min-width: 1024px) {
    aside {
        float: left;
        width: 100%;
        padding-right: 20px;
        min-height: 570px;
    }
}

@media(min-width: 1024px) {
    .main-col {
        float: right;
        width: 100%;
    }
}

@media(min-width: 1024px) {
    #buttonHowToPlayTheGame {
        display: none;
    }
}

@media(min-width: 1024px) {
    #buttonGoBackUp {
        display: none;
    }
}

@media(min-width: 1024px) {
    section#main .container-fluid img {
        width: 300px;
    }
}

@media(min-width: 1024px) {
    header {
        display: block !important;
    }
}
