html {
    height: 100%;
    /**/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 0;
    background: #f2f2f2;
}

header{
    background: #101820;
    color: #FEE715;
    text-align: center;
    min-height: 60px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 25px;
    margin: 15px;
    border: 3px solid #FEE715;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    margin-top: 8px;
    text-align: center;
}

.container-fluid {
    margin-bottom: 10px;
    text-align: center;
}

.gameplay {
    margin-bottom: 10px;
}

#round-and-score {
    margin-top: 5px;
}

.main-col {
    background: linear-gradient(#FEE715, #fcf5b3);
    color: #101820;
    border: 3px solid #101820;
    border-radius: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    height: 100%;
}

#newImage, #newImageBack {
    box-shadow: /*5px 5px 5px rgba(0,0,0,.25);*/  0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
}

#main {
    width: 100%;
    }

/*IMAGES*/
/*Put some margin underneath the image*/
.flip-card {
    margin-bottom: 10px;
    margin-top: 15px;
    }

/*Sets the standard width of the image shown*/
section#main .container-fluid img{
    width: 250px;
    border-radius: 30px;
}

/*When an answer is wrong, blur the image to show the user something is 'wrong'*/
.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

/*Styling the field in which the player types in the answer*/
#textField {
    padding: 4px;
    height: 30px;
    border-radius: 25px;
    font-weight: bold;
    border-color: #101820;
}

/*Styling the comment on the answer of the player*/
#comment {
    font-size: 1.2rem;
    text-shadow: 1px 1px 6px #fff;
}

p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

/*SIDEBAR*/
/*The sidebar has the same yellow colour als the main-col and the same darkblue text. 
This ensures the feeling of everything fitting together.*/
aside{
    background: linear-gradient(#FEE715, #fcf5b3);
    color: #101820FF;
    border: 3px solid #101820;
    border-radius: 25px;
    margin-bottom: 10px;
    height: 100%;
    }

/*Aligns the text in the unorderd list in the aside to the left to make it look clean.*/
aside ul {
    text-align: left;
}

/*SCORBOARD*/

/*Styling the way the scoreboard is shown during the game. 
It looks a bit like an actuel scoreboard, which is applicable since it is a game with sports as a subject.*/
#scoreboard {
    color: #FEE715;
    text-align: center;
    width: 80px;
    font-weight: bold;
    border-radius: 11px;
    box-shadow: 5px 5px 5px grey;
    border-color: #101820;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    background: #101820;
}

#scoreboardSp {
    /*float: left;*/
    font-weight: bold;
    font-size: 1rem;
}

#timeSp {
    font-weight: bold;
    font-size: 1rem; 
}

/*.scoreboardClass {
    color: #FD5F00;
    text-align: center;
    width: 60px; 
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
}*/

#countdown_id {
    color: #006B38;
    text-align: center;
    width: 90px;
    font-weight: bold;
    border-radius: 11px;
    box-shadow: 5px 5px 5px grey;
    border-color: #101820;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    background: #101820;
    display: block;
    margin: 0 auto;
}

.green {
   color: #006B38!important;
}

.orange {
  color: #FD5F00!important; 
}

.red {
  color: red!important;  
}

/*Styling the way the final score is shown on the endscreen. 
It looks a bit like an actuel scoreboard, which is applicable since it is a game with sports as a subject.*/
#yourScore {
    float: right;
    vertical-align: middle;
    height: 200px;
    line-height: 180px;
    font-size: 1.7rem;
}

.endScoreClass {
    color: #FD5F00;
    text-align: center;
    width: 125px;
    height: 125px; 
    font-size: 6rem;
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px black;
}

/*Styling the comment on the final score on the endscreen. 
It looks a bit playfull, as it should in a game.*/
#scoreComment {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: #FD5F00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*ROUNDCOUNTER*/
/*Styling the counter of the rounds during the game. 
It looks a bit like an actuel scoreboard, which is applicable since it is a game with sports as a subject.*/
#countSp {
    /*float: right;*/
    font-weight: bold;
    font-size: 1rem;
}

#round {
    color: #FEE715;
    text-align: center;
    width: 40px;
    font-weight: bold;
    border-radius: 11px;
    box-shadow: 5px 5px 5px grey;
    border-color: #101820;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    background: #101820;
}

/*BUTTONS*/

button:focus {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

/*All button are styled using this class. The yellow and blue colours make them fit right in.*/
.button_1 {
    height: 30px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #101820;
    color: #FEE715;
    border-radius: 25px;
    font-weight: bold;
    /*box-shadow: 3px 3px black;*/
}

.button_1:hover {
    background:#616247;
    transition: all .4s ease;
}

/*Styling the button that makes it possible to ask for a hint. 
The orange color fits well in and makes the buttons stand out from the other buttons.*/
#buttonHint {
    color: #FEE715;
    background: #101820;
    margin-left: 10px;
    margin-right: 10px;
}

#buttonHint:hover {
    background: #616247;
    transition: all .4s ease;
}

#buttonStart {
    background: #006B38;
    /*text-shadow: 0 0 1px #101820, 0 0 1px #101820, 0 0 1px #101820, 0 0 1px #101820;*/
    /*border: 1px solid #101820;*/
}

#buttonStart:hover {
    background: #2BAE66;
}


/*Styling the button that makes the player continue in the game*/
#buttonSubmit {
    margin-left: 8px;
    background: #006B38;
}

#buttonSubmit:hover {
    background: #2BAE66;
}

/*Styling the button to restart the game*/
#buttonReset {
    margin-top: 20px;
    width: 300px;
    background: #006B38;
}

#buttonReset:hover {
    background: #2BAE66;
}

/*Used to hide the buttuns that are not needed at that point*/
.hidden {
    display: none!important;
} 

/*FOOTER*/

/*Styling the footer, again using the darkblue and yellow to make everything fit in.*/
.footer-logo {
  font-style: italic;
  color:  #fcf5b3;
  padding-bottom: 5px;
}

#flip-it-logo {
  font-style: normal;  
  padding-left: 3px;
}

.footer-logo-by {
  font-size: 1.1rem;
}

#footer-logo-link {
  padding: 0;  
  color: #ADEFD1;
}

#social {
    background: #101820;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-top: 10px;
    clear:both;
    margin: 15px;
    border: 3px solid  #fcf5b3;
}

/*Styling the links and symbols in the footer*/
.sociallinks a {
    color: #fcf5b3;
    padding-left: 25px;
    padding-right: 25px;  
}
  
/*MEDIA QUERIES*/

/*Puts aside on the right side of bigger screens, instead of below like on smaller screens. This makes everything visible in one screen.*/ 
 @media(min-width: 992px){ 
aside {
    float: right;
    width: 100%;
    padding-right: 20px;
    min-height: 570px;
    }
}

/*Keeps the main-col on the left on bigger screens*/
 @media(min-width: 992px){ 
.main-col {
    float: left;
    width: 100%;
    }
}

/*Prevents the button that links to the explanation of the game from showing on bigger screens, 
because the explanation is next to the gamescreen on bigger screens.*/
@media(min-width: 992px){ 
#buttonHowToPlayTheGame {
    display: none;
    }
}

/*Prevents the button that links to the top of the game from showing on bigger screens, 
because the explanation is next to the gamescreen on bigger screens.*/
@media(min-width: 992px){ 
    #buttonGoBackUp {
        display: none;
    }
/*Making the comment just a little bigger on bigger screens*/
    #comment {
    font-size: 1.5rem;
    }
}

/*Shows a bigger image on bigger screens, which fits the screen better.*/
@media(min-width: 992px){ 
section#main .container-fluid img {
    width: 300px;
    }
}    

@media(min-width: 768px){ 
#countSp {
    font-size: 1.5rem;
    }
#timeSp {
    font-size: 1.5rem;
    }
#scoreboardSp {
    font-size: 1.5rem;
    }
#scoreboard {
    font-size: 2.5rem;
    width: 120px;
    }
#countdown_id {
    font-size: 3.5rem;
    width: 120px;
    }
#round {
    font-size: 2.5rem;
    width: 60px;
    }
.marginEndscore {
    margin-top: 50px;
}
} 

/*Shows a even bigger image on even bigger screens, which fits the screen better.*/
@media(min-width: 1200px){ 
section#main .container-fluid img {
    width: 330px;
    }
/*Prevents the main from being shorter than the aside by removing the margin-bottom.*/
.gameplay {
    margin-bottom: 0;
    }
}  

/*Shows a bigger 'Who is this Cyclist?' on bigger screens, which fits the screen better.*/
@media(min-width: 1200px){
#headerQuestion {
    font-size: 2.5rem;
    }
}

/*Shows bigger buttons on bigger screens, which fits the screen better.*/
@media(min-width: 1200px){
.button_1 {
    font-size: 1.2rem;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

/*Makes the text in the header (Pro Cycling Trumps Game) bigger on bigger screens, which fits the screen better.*/
@media(min-width: 992px){
.h1 {
    font-size: 3rem;
    }
}

/*Gives some more margin around the image on bigger screens, which fits the screen better.*/
@media(min-width: 992px){
.flip-card {
    margin-bottom: 25px;
    }
}

@media(min-width: 992px){
#textField {
    margin-bottom: 10px;  
    height: 40px;
    font-size: 1.2rem;
    }
}

/*Prevents the gamescreen from becoming too wide, because this looks better and is more pleasent to handle for the user.*/  
 @media(min-width: 1600px){
body {
    margin-left: 200px;
    margin-right: 200px;
    }
}  